body{
	background-image: url(../img/dulcesFondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	background-color: rgba(0,0,0,.6);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 99;
}

nav a > img{
	height: 63px;
	margin-left: 110px;
	vertical-align: bottom;
}

nav ul{
	display: inline-block;
	position: absolute;
	margin-left: 110px;
	margin-top: 10px;
}


nav ul > li {
	list-style: none;
	display: inline;
	background-color: #DE1F86;
	padding: 15px 50px;
	margin-right: -7px;
	font-size: 30px;
}

li a{
	text-decoration: none;
	color: white;
}

footer{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #50A947;
	padding-top: 12px;
}


.redes{
	display: inline-block;
	position: absolute;
	top: 15%;
	left: 5%;
	color: white;
	font-size: 15px;
}

.redes a > img{
	height: 45px;
	vertical-align: middle;
}

footer > span{
	float: right;
	color: white;
	position: relative;
	top: 25%;
	font-size: 12px;
}

footer div + span{
	float: top;
	right: 750px;
	font-size: 15px;
}

main{
	position: relative;
	top: 70px;
	display: inline-block;
	padding-bottom: 90px;
	width: 100%
}

.contenedor{
	margin-left: 10%;
	margin-right: 10%;
}

#bienvenida {
	text-align: center;
	color: #50A947;
	font-size: 75px;
	letter-spacing: 4px;
}

.meses {
	text-shadow: 1.5px 1.5px 1.5px green, 2.5px 2.5px 1px white, 3.5px 3.5 1px red;
}
li > span {

	font-size: 35px;
	vertical-align: middle;
	background-image: linear-gradient(to right, green, white,red);
	text-shadow: 1px 1px 1px peru;
}

#titulo_fechas {
	font-size: 35px;
	color: peru;
	text-shadow: 3px 3px 1px white;
}

#productos{
	text-align: center;
	color: white;
	font-size: 75px;
	letter-spacing: 4px;
}

.listado{
	background-color: rgba(255,255,255,0.8);
	width: 20%;
	height: 500px;
	border-radius: 0 0 0 20px;
	display: inline-block;
	margin: 0px 70px;
}

.card{
	box-shadow: 5px 7px 8px 0 rgba(0,0,0,0.3);
	width: 100%;
	border-radius: 0px 20px;
	background-color: white;
	color: #DE1F86;
	display: inline-block;
	margin-bottom: 15px;
}

.contenedor_card {
	padding: 2px 16px;
}
.ubicacion {
	display: inline-block;
	padding: 0 25px;
	margin-right: 0%;
	text-align: center;
	width: 45%;

}
div.ubicacion > h3{
	background: pink;
	padding: 20px 0px;
	border-radius: 15px;
	color: white;
}
iframe {
	width: 100%;
	height: 450px;
}
.video {
	display: inline-block;
	padding: 0 350px; 
	text-align: center;
	width: 50px;
}
div.video > h3 {
	background: pink;
	padding: 20px 0px;
	border-radius: 15px;
	color: white;
}









